header.header.layout__max
  +logoWrap
    a.logo__link(href=`/${lang}/`)&attributes(getSchemaAttr('logoLink'))
      img.logo__img(src="/images/logo.png", width="477", height="150", alt=data.index[lang].title)&attributes(getSchemaAttr('logoImg'))

  ul.social.header__social
    each url, name in config.socialUrls
      li.social__item
        a.social__link(href=url)
          +icon(name, { 'social__icon': true, 'social__icon--smaller': name === 'googleplus' })
          span.social__label= data.shared.social[name]
    li.social__item.languages
      ul.languages__list
        each code in config.languages
          li.languages__item
            - var label = data.shared.languages[code]
            if lang === code
              span.languages__link.languages__link--current(title=label)= code.toUpperCase()
            else
              a.languages__link(href=`/${code}/${page.path.substr(4)}`, title=label)= code.toUpperCase()
