// Wrap the logo with the appropriate element
mixin logoWrap(classes)
  if page.isHome
    h1(class=classes): block
  else
    div(class=classes): block

// Output an SVG icon
mixin icon(name, classes)
  svg.icon(class=classes)
    use(xlink:href="#icon-#{name}")

mixin widget(entry)
  p= entry.fields.label
