// Wrap the logo with the appropriate element
mixin logoWrap()
  if page.isHome
    h1.logo: block
  else
    div.logo: block

// Output an SVG icon
mixin icon(name, classes)
  svg.icon(class=classes, width="25", height="25")
    use(xlink:href="#icon-#{name}")

// Output a video preview link
mixin video(url, width, height)
  .playlist__video.video
    - var id = url.match(/watch\?v=(.+)/)[1];
    a.video__preview(href=url, data-width=width, data-height=height, data-video-id=id, style="background-image: url(https://img.youtube.com/vi/#{id}/sddefault.jpg);") Watch video

// Homepage widget - Live
mixin widgetLive(widgetData, classes)
  section.widget-live.widget(class=classes)
    h2.widget__heading.widget__heading--sub Live
      strong.kenotic-divider= widgetData[lang + 'Title']
    .widget-live__inner
      .widget-live__poster
        a.widget-live__poster__link(href=widgetData.poster.fields.file.url)
          img(src=asset(widgetData.poster, { w: 220, q: 80 }, width="220", alt="Poster"))
      .widget-live__content
        div!= config.marked(widgetData[lang + (widgetData.isUpcoming ? 'Upcoming' : 'Past') + 'Text'])
        ul.widget-live__list
          each event in widgetData.events
            li.widget-live__item(class={ 'widget-live__item--past': !widgetData.isUpcoming })
              .widget-live__date.date
                - config.moment.locale(lang);
                - var moment = config.moment(event.fields.date);
                .date__day= moment.format('dddd')
                .date__label= moment.format(lang === 'fr' ? 'D MMM' : 'MMM D')
              .widget-live__location
                strong= event.fields[lang + 'City'] + ', ' + event.fields[lang + 'Country']
                = event.fields.hall
