extends ../../layout

block content
  - var disco = data.discography
  
  section.albums
    h2= d.headings.albums
    .albums__list
      section.album
        - var kenotic = disco.kenotic[lang]
        //a.album__link-cover(href=page.path + '/' + album)
        .album__link-cover
          img.album__cover(src='/images/covers/kenotic.jpg', width="380" height="380" alt="")
        div.album__content
          h3.album__heading
            //a.album__link(href=page.path + '/' + album)= albumData[lang].title
            .album__link= kenotic.title
          div
            p 2014, 12 tracks
          blockquote.quote
            p.quote__text Ce premier essai aventureux, intelligent, et étonnement mature frise le coup de maître.
            cite.quote__cite Metal Obs'
          .button
            a.button__link(href="#") Get it
            a.button__link(href="#") Listen to it
          section.special
            p
              strong New! 
              | Bonus Edition 2015, digital release
          div.album__credits: small
            != config.marked(getSection('Kenotic credits'))
      section.album
        - var sfs = disco['start-from-scratch'][lang]
        //a.album__link-cover(href=page.path + '/' + album)
        .album__link-cover
          img.album__cover(src='/images/covers/start-from-scratch.jpg', width="380" height="380" alt="")
        div.album__content
          h3.album__heading
            //a.album__link(href=page.path + '/' + album)= albumData[lang].title
            .album__link= sfs.title
          div
            p 2011, 11 tracks
          blockquote.quote
            p.quote__text Ce premier essai aventureux, intelligent, et étonnement mature frise le coup de maître.
            cite.quote__cite Metal Obs'
          .button
            a.button__link(href="#") Get it
            a.button__link(href="#") Listen to it
          div.album__credits: small
            != config.marked(getSection('Start from Scratch credits'))
  
  section.releases
    h2= d.headings.other
    ol.releases__list.flex-grid
      each release in disco.otherReleases
        - var releaseData = disco[release]
        li.release.flex-grid__item(class=(releaseData.type === 'dvd' ? 'release--dvd' : null))
          //a.release__link(href=page.path + '/' + release)
          .release__link
            .release__cover
              img.release__img(src='/images/covers/' + release + '.jpg', width="200" height="200" alt="")
            p.release__content
              strong.release__title= releaseData[lang].title
              |  
              span= releaseData.year + ', ' + disco[lang].releaseTypes[releaseData.type]
    
    