extends ../../layout

block content
  - var disco = data.discography
  
  section
    h2= d.headings.albums
    ol
      each album in disco.albums
        - var albumData = disco[album]
        li
          a(href=page.path + '/' + album)
            img(src='/images/covers/' + album + '.jpg', width="350" height="350" alt="")
            p
              strong= albumData[lang].title
              |  
              span= albumData.year
  
  section
    h2= d.headings.other
    ol
      each release in disco.otherReleases
        - var releaseData = disco[release]
        li
          a(href=page.path + '/' + release)
            img(src='/images/covers/' + release + '.jpg', width="200" height="200" alt="")
            p
              strong= releaseData[lang].title
              |  
              span= releaseData.year
              |  
              span= disco[lang].releaseTypes[releaseData.type]
    
    