extends ../../layout

block content
  - var disco = data.discography
  
  section.albums
    h2= d.headings.albums
    ol.albums__list
      each album in disco.albums
        - var albumData = disco[album]
        li.album
          a.album__link-cover(href=page.path + '/' + album)
            img.album__cover(src='/images/covers/' + album + '.jpg', width="350" height="350" alt="")
          div.album__content
            h3.album__heading
              a.album__link(href=page.path + '/' + album)= albumData[lang].title
            p= albumData.year
  
  section.releases
    h2= d.headings.other
    ol.releases__list
      each release in disco.otherReleases
        - var releaseData = disco[release]
        li.release(class=(releaseData.type === 'dvd' ? 'release--dvd' : null))
          a.release__link(href=page.path + '/' + release)
            .release__cover
              img.release__img(src='/images/covers/' + release + '.jpg', width="200" height="200" alt="")
            p.release__content
              strong.release__title= releaseData[lang].title
              |  
              span= releaseData.year + ', ' + disco[lang].releaseTypes[releaseData.type]
    
    