extends ../../layout

block content
  - var disco = data.discography
  
  section.albums
    h2= d.headings.albums
    .albums__list
      each album in disco.albums
        section.album
          - var albumData = disco[album]
          //a.album__link-cover(href=page.path + '/' + album)
          .album__link-cover
            img.album__cover(src='/images/covers/' + album + '.jpg', width="380" height="380" alt="")
          div.album__content
            h3.album__heading
              //a.album__link(href=page.path + '/' + album)= albumData[lang].title
              .album__link= albumData[lang].title
            blockquote.quote
              p.quote__text= albumData[lang].quote
              cite.quote__cite= albumData[lang].quoteSource
            .album__buttons.button
              a.album__button.button__link(href=albumData.buyUrl)= d.links.buy
              a.album__button.button__link(href="/#{lang}/media#audio")= d.links.listen
              if albumData.infoUrl
                a.album__button.button__link(href=albumData.infoUrl)= d.links.more
            if albumData[lang].special
              .special: p!= albumData[lang].special
            div.album__credits!= albumData[lang].credits
  
  section.releases
    h2= d.headings.other
    ol.releases__list.flex-grid
      each release in disco.otherReleases
        - var releaseData = disco[release]
        li.release.flex-grid__item(class=(releaseData.type === 'dvd' ? 'release--dvd' : null))
          //a.release__link(href=page.path + '/' + release)
          .release__link
            .release__cover
              img.release__img(src='/images/covers/' + release + '.jpg', width="200" height="200" alt="")
            p.release__content
              strong.release__title= releaseData[lang].title
              |  
              span= releaseData.year + ', ' + disco[lang].releaseTypes[releaseData.type]
    
    