// Wrap the logo with the appropriate element
mixin logoWrap
  if isIndex
    h1: block
  else
    div: block

// Output an SVG icon
mixin icon(name)
  svg.icon
    use(xlink:href="#icon-#{name}")

// Output a language link (or a simple span if it is the current language)
mixin languageLink(code)
  - var label = data.languages[lang][code]
  if lang === code
    span(title=label)= code.toUpperCase()
  else
    a(href="/#{code}/#{getSlug(page)}", title=label)= code.toUpperCase()

// Output an item of the main navigation
mixin navItem(name)
  li
    a(href="/#{lang}/#{getSlug(name)}")= data[name][lang].title

mixin widget(entry)
  p= entry.fields.label

// Output releases as list items, optionally showing the type of the releases
mixin releases(entries, showType)
  each release in entries
    li
      = release.cover
      h3= release.title
      if release.date
        span= release.date.substring(0, release.date.indexOf('-'))
      if showType
        |  
        span= translate(release.type, pageData.releaseTypes)
