extends ../layout.pug

block content
  - var disco = data.discography

  section
    h2= d.headings.albums
    each album in contentful.releases
      if album.type === 'studio-album'
        section.album(itemscope, itemtype="http://schema.org/MusicAlbum")
          h3.album__heading.album__heading--one.h3(itemprop="name")= album[`${lang}Title`]
          img.album__cover(src=asset(album.cover, { w: 380, h: 380, q: 80 }), width="380", height="380", alt="", itemprop="image")
          .album__content
            h3.album__heading.album__heading--two.h3(itemprop="name")= album[`${lang}Title`]
            if album.discographyQuote
              - var quote = album.discographyQuote.fields;
              - var quoteTxt = quote[`${lang}Quote`];
              blockquote.quote(class=(quoteTxt.length < 200 ? 'quote--short' : null), itemprop="review", itemscope, itemtype="http://schema.org/Review")
                p.quote__text(itemprop="reviewBody")= quoteTxt
                cite.quote__cite(itemprop="author")= quote[`${lang}Source`]
            if album.discographyButtonGroup
              .album__buttons.button
                each btn in album.discographyButtonGroup.fields.buttons
                  a.album__button.button__link(href=btn.fields[`${lang}Url`])= btn.fields[`${lang}Text`]
            - var special = album[`${lang}DiscographySpecial`]
            if special
              .special: p!= config.marked(special)
            .album__credits!= config.marked(album[`${lang}Credits`])

  section.releases
    h2= d.headings.other
    ol.releases__list.flex-grid
      each release in contentful.releases
        if ['studio-album', 'special-edition'].indexOf(release.type) === -1
          li.release.flex-grid__item(class=(release.type === 'dvd' ? 'release--dvd' : null))
            .release__cover
              img.release__img(src=asset(release.cover, { w: 310, h: 310, q: 80 }), width="310", height="310", alt="")
            p.release__content
              - var releaseDate = config.moment(release.releaseDate).format('YYYY');
              strong.release__title= release[`${lang}Title`]
              |
              span= `${releaseDate}, ${disco[lang].releaseTypes[release.type]}`
