extends ../layout

block content
  main.main.layout__max
    //-  - var homepage = contentful.homepages[0]
    //-  
    //-  case homepage.layout
    //-    when 'simple'
    //-      each widget in homepage.widgets
    //-        +widget(widget)
    
    section.banner.widget
      h2.widget__heading!= d.banner.heading
      p!= d.banner.text
      .button.banner__cta
        a.button__link(href="")= d.banner.cta
  
    .two-column
      .two-column__main
        section.widget-live.widget.widget--left-col
          h2.widget__heading.widget__heading--sub!= d.live.heading
          .widget-live__inner
            .widget-live__poster
              a.widget-live__poster__link(href="/images/live/craddle.jpg")
                img(src="/images/live/craddle.jpg", width="220", height="311" alt="Craddle of Filth, Inquisitional Tourture 2015")
            .widget-live__content
              p!= d.live.text
              ul.widget-live__list
                each date in d.live.dates
                  li.widget-live__item
                    .widget-live__date.date
                      .date__day= date.day
                      .date__label!= date.date
                    .widget-live__location!= date.location
                    
        section.widget-clips.widget.widget--left-col
          h2.widget__heading.widget__heading--sub!= d.clips.heading
          .widget-clips__chapters
            each video in d.clips.videos
              .widget-clips__chapter
                h3.widget-clips__title!= video.title
                .video.widget-clips__video
                  if video.url
                    iframe.video__inner(width="640", height="360", src=video.url, frameborder="0", allowfullscreen)
                  else
                    .video__inner.widget-clips__soon
                      p= video.soon
          
      aside.fb-feed.widget
        #fb-root
        .fb-feed__loading(hidden)
          img.fb-feed__spinner(src="/images/spinner.png", alt="", width="100", height="100")
          p= d.fbFeed.loading
        .fb-feed__feed.fb-page(data-href="https://www.facebook.com/benightedsoul", data-width="380", data-height="660", data-show-facepile="false", data-show-posts="true", data-hide-cta="true")
          .fb-xfbml-parse-ignore
    