extends ../layout.pug

block content
  main.main.layout__max
    - var homepage = contentful.homepages[0];

    section.banner.widget.clearfix
      .banner__inner
        h2.banner__heading.widget__heading!= d.banner.heading
        p!= d.banner.text
        .button.banner__cta
          a.button__link(href=`/${lang}/shop`)= d.banner.cta
        iframe.banner__player(src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A1NGM4fJaIO2TJsxhKjl8Bn", width="230", height="310", frameborder="0", allowtransparency="true")

    .two-column
      .two-column__main
        section.widget-clips.widget.widget--left-col.clearfix
          h2.widget__heading.widget__heading--sub!= d.clips.heading
          .widget-clips__chapters
            each video in d.clips.videos
              .widget-clips__chapter
                h3.widget-clips__title!= video.title
                .widget-clips__video
                  if video.url
                    +video(video.url, "640", "360")
                  else
                    .video__inner.widget-clips__soon
                      p= video.soon

        +widgetLive(homepage.widgets[0].fields, "widget--left-col clearfix")

      aside.fb-feed.widget.clearfix
        h2.widget__heading.widget__heading--sub= d.news.heading
        .fb-feed__posts
          each post in records.fbPosts
            a.fb-feed__link(href=(post.link || post.permalink_url || config.socialUrls.facebook))
              - config.moment.locale(lang);
              - momentFormat = lang === 'fr' ? 'D MMMM' : 'MMMM D';
              p.fb-feed__date= config.moment(post.created_time).format(momentFormat)
              .fb-feed__message.clearfix
                - var att = post.attachments && post.attachments.data.length > 0 && post.attachments.data[0];
                - var image = att && att.media && att.media.image;
                - var subatt = att && att.subattachments && att.subattachments.data.length > 0 && att.subattachments.data[0];
                - image = image || subatt && subatt.media && subatt.media.image;
                if image
                  .fb-feed__image-wrap
                    .fb-feed__image(style=`max-width: ${image.width}px; background-image: url('${image.src}');`)
                - var messages = post.message.split('\n\n');
                if messages.length === 2
                  p!= messages[lang === 'fr' ? 0 : 1]
                else
                  p!= post.message
        .fb-feed__cta.button
          a.button__link(href=config.socialUrls.facebook)= d.news.cta
