extends ../layout

block content
  
  each playlist in contentful.videoPlaylists
    section.playlist
      h2= playlist[lang + 'Title']
      .playlist__inner
        each index in [1, 2]
          - var videoUrl = playlist['video' + index];
          .playlist__video
            iframe.playlist__iframe(width="640", height="360", src="#{videoUrl.replace('watch?v=', 'embed/')}?rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)
        a.playlist__link(href=playlist.playlistUrl)= d.ctaPlaylist
  
  a(href=config.socialUrls.youtube)= d.ctaYoutube
    
  each gallery in contentful.photoGalleries
    section.gallery
      h2= gallery[lang + 'Title']
      ul.gallery__list.flex-grid
        each photo in gallery.photos
          li.gallery__item.flex-grid__item
            img.gallery__photo(src=asset(photo, { w: 400, h: 400, q: 80 }), alt="")
  a(href=config.socialUrls.instagram)= d.ctaInstagram