extends ../layout

block content

  section#audio.audio
    h2.audio__heading= d.audioHeading
  
  each playlist in contentful.videoPlaylists
    section.playlist
      h2= playlist[lang + 'Title']
      .playlist__inner
        each index in [1, 2]
          - var videoUrl = playlist['video' + index];
          .playlist__video.video
            iframe.video__inner(width="640", height="360", src="#{videoUrl.replace('watch?v=', 'embed/')}?rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)
        - playlist.playlistUrl = '#'
        a.playlist__link(href=playlist.playlistUrl)= d.ctaPlaylist
  .button.media-cta.media-cta--youtube
    a.button__link(href=config.socialUrls.youtube)= d.ctaYoutube
    
  each gallery in contentful.photoGalleries
    section.gallery
      h2= gallery[lang + 'Title']
      ul.gallery__list.flex-grid
        each photo in gallery.photos
          li.gallery__item.flex-grid__item
            img.gallery__photo(src=asset(photo, { w: 400, h: 400, q: 80 }), alt="")
  .button.media-cta.media-cta--instagram
    a.button__link(href=config.socialUrls.instagram)= d.ctaInstagram