extends ../layout.pug

block content

  section#audio.audio
    .audio__inner
      .audio__player
        iframe.audio__iframe(src="https://open.spotify.com/embed/album/0By3jmOpnrdxfhf8oHQAWu", width="300", height="380", frameborder="0", allowtransparency="true" allow="encrypted-media")
      .audio__player.audio__player--minor
        iframe.audio__iframe(src="https://open.spotify.com/embed/album/1NGM4fJaIO2TJsxhKjl8Bn", width="300", height="380", frameborder="0", allowtransparency="true" allow="encrypted-media")
      .audio__listen
        h2.audio__heading= d.listenText
        .audio__ctas.button
          a.button__link(href="https://play.spotify.com/artist/3MtjDKooE6Vf3g4uyeyX4L") Spotify
          a.button__link(href="http://www.deezer.com/artist/1416188") Deezer

  each playlist in contentful.videoPlaylists
    section.playlist
      h2= playlist[`${lang}Title`]
      .playlist__inner
        each index in [1, 2]
          +video(playlist['video' + index], "640", "360")
        a.playlist__link(href=playlist.playlistUrl)= d.ctaPlaylist
  .button.button--centered.button--youtube
    a.button__link(href=config.socialUrls.youtube)= d.ctaYoutube

  each gallery in contentful.photoGalleries
    section.gallery
      h2= gallery[`${lang}Title`]
      ul.gallery__list.flex-grid
        each photo in gallery.photos
          li.gallery__item.flex-grid__item
            img.gallery__photo(src=asset(photo, { w: 400, h: 400, q: 80 }), alt="")
  .button.button--centered.button--instagram
    a.button__link(href=config.socialUrls.instagram)= d.ctaInstagram
