extends ../layout

block content

  section#audio.audio
    h2.audio__heading= d.audioHeading
    div.audio__inner
      .audio__player
        iframe.audio__iframe(src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A1NGM4fJaIO2TJsxhKjl8Bn", width="300", height="380", frameborder="0", allowtransparency="true")
      .audio__player.audio__player--minor
        iframe.audio__iframe(src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A5nDZjlk3EwybWy9J27A0ei", width="300", height="380", frameborder="0", allowtransparency="true")
      div.audio__listen
        p: strong= d.listenText
        .audio__ctas.button
          a.button__link(href="https://play.spotify.com/artist/3MtjDKooE6Vf3g4uyeyX4L") Spotify
          a.button__link(href="http://www.deezer.com/artist/1416188") Deezer
          a.button__link(href="http://www.fnacjukebox.com/fr/artist/benighted-soul-983291") Fnac Jukebox
  
  each playlist in contentful.videoPlaylists
    section.playlist
      h2= playlist[lang + 'Title']
      .playlist__inner
        each index in [1, 2]
          - var videoUrl = playlist['video' + index];
          .playlist__video.video
            - var videoId = videoUrl.match(/watch\?v=(.+)/)[1];
            a.video__preview(href=videoUrl, data-width="640", height="360", data-video-id=videoId, style="background-image: url(https://img.youtube.com/vi/#{videoId}/sddefault.jpg);") Watch video
        a.playlist__link(href=playlist.playlistUrl)= d.ctaPlaylist
  .button.media-cta.media-cta--youtube
    a.button__link(href=config.socialUrls.youtube)= d.ctaYoutube
    
  each gallery in contentful.photoGalleries
    section.gallery
      h2= gallery[lang + 'Title']
      ul.gallery__list.flex-grid
        each photo in gallery.photos
          li.gallery__item.flex-grid__item
            img.gallery__photo(src=asset(photo, { w: 400, h: 400, q: 80 }), alt="")
  .button.media-cta.media-cta--instagram
    a.button__link(href=config.socialUrls.instagram)= d.ctaInstagram