extends ../layout

block content
  
  each playlist in contentful.videoPlaylists
    section.playlist
      h2= playlist[lang + 'Title']
      .playlist__inner
        each index in [1, 2]
          - var videoUrl = playlist['video' + index];
          .playlist__video
            iframe.playlist__iframe(width="640", height="360", src="#{videoUrl.replace('watch?v=', 'embed/')}?rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)
        a.playlist__link(href=playlist.playlistUrl)= d.ctaPlaylist
  
  a(href=config.socialUrls.youtube)= d.ctaYoutube
    
  each gallery in contentful.photoGalleries
    section
      h2= gallery[lang + 'Title']
      ul
        each photo in gallery.photos
          li
            img(src=asset(photo, { w: 300, h: 300, q: 80 }), alt="")
  a(href=config.socialUrls.instagram)= d.ctaInstagram