extends ../layout

block content
  
  section
    h2 Studio albums
    each release in contentful.releases
      if ['studio-album', 'special-edition'].indexOf(release.type) > -1
        section.album-shop
          a.album-shop__cover-link(href="/#{lang}/discography")
            img(src=asset(release.cover, { w: 380, h: 380, q: 80 }), width="380", height="380", alt="")
          div
            h3.album-shop__heading= release[lang + 'Title']
            ul.album-shop__features
              each feature in release[lang + 'ShopFeatures']
                li.album-shop__feature= feature
            div.album-shop__blocks
              each btnGroup in release.shopButtonGroups
                div.album-shop__block
                  - var leadSplit = btnGroup.fields[lang + 'Lead'].split(' ');
                  p
                    strong= leadSplit[0] + ' '
                    = leadSplit.slice(1).join(' ')
                  .album-shop__buttons.button
                    each btn in btnGroup.fields.buttons
                      a.album-shop__button.button__link(href=btn.fields[lang + 'Url'])
                        = btn.fields[lang + 'Text']

  section.merch
    h2 Merchandising
    ul.merch__list.flex-grid
      - contentful.products = [{ title: "Product", photo: "http://placehold.it/200" }]
      each product in contentful.products
        li.merch__item.flex-grid__item
          div.merch__photo(style="background-image: url(#{product.photo});")
          p.merch__title= product.title
    .button.button--centered
      a.button__link(href=data.shared.shopUrl)= d.ctaShop
    