extends ../layout

block content
  
  section
    h2 Studio albums
    each release in contentful.releases
      if ['studio-album', 'special-edition'].indexOf(release.type) > -1
        section.album-shop
          a.album-shop__cover-link(href="/#{lang}/discography")
            img(src=asset(release.cover, { w: 380, h: 380, q: 80 }), width="380", height="380", alt="")
          div
            h3.album-shop__heading= release[lang + 'Title']
            ul.album-shop__features
              each feature in release[lang + 'ShopFeatures']
                li.album-shop__feature= feature
            div.album-shop__blocks
              each btnGroup in release.shopButtonGroups
                div.album-shop__block
                  - var leadSplit = btnGroup.fields[lang + 'Lead'].split(' ');
                  p
                    strong= leadSplit[0] + ' '
                    = leadSplit.slice(1).join(' ')
                  .album-shop__buttons.button
                    each btn in btnGroup.fields.buttons
                      a.album-shop__button.button__link(href=btn.fields[lang + 'Url'])
                        = btn.fields[lang + 'Text']
                    
  //-section
    h2 Other products
    ul.flex-grid
      li.flex-grid__item
        div
          img(src="/images/shop/t-shirt.jpg", width="300", height="215", alt="")
        p
          strong T-Shirt (homme)
          form(target="paypal", action="https://www.paypal.com/cgi-bin/webscr", method="post")
            input(name="cmd", value="_s-xclick", type="hidden")
            input(name="hosted_button_id", value="55NA6843SMJQC", type="hidden")
            table: tbody: tr: td
              input(name="on0", value="Size", type="hidden")
              strong 15€ 
              | Tailles :
              select(name="os0")
                option(value="XL") XL
                option(value="L") L
                option(value="M") M
                option(value="S") S
            input(src="img/shop/ajouter_panier.gif", name="submit", alt="Add to cart", border="0", type="image")
            img(alt="", src="https://www.paypal.com/fr_FR/i/scr/pixel.gif", border="0", height="1", width="1")
      li.flex-grid__item
        div
          img(src="/images/shop/girlie.jpg", width="300", height="215", alt="")
        p
          strong Girlie (femme)
          form(target="paypal", action="https://www.paypal.com/cgi-bin/webscr", method="post")
            input(name="cmd", value="_s-xclick", type="hidden")
            input(name="hosted_button_id", value="ZB8F6G5MQ438E", type="hidden")
            table: tbody: tr: td
              input(name="on0", value="Size", type="hidden")
              strong 15€ 
              | Tailles :
              select(name="os0")
                option(value="XL") XL
                option(value="L") L
                option(value="M") M
                option(value="S") S
            input(src="img/shop/ajouter_panier.gif", name="submit", alt="Add to cart", border="0", type="image")
            img(alt="", src="https://www.paypal.com/fr_FR/i/scr/pixel.gif", border="0", height="1", width="1")
    