extends ../layout

block content
  
  section.albums
    h2= d.headings.albums
    each release in contentful.releases
      if ['studio-album', 'special-edition'].indexOf(release.type) > -1
        section.album-shop(itemscope, itemtype="http://schema.org/Product")
          a.album-shop__cover-link(href="/#{lang}/discography")
            img(src=asset(release.cover, { w: 380, h: 380, q: 80 }), width="380", height="380", alt="", itemprop="image")
          div
            h3.album-shop__heading.h3(itemprop="name")= release[lang + 'Title']
            ul.album-shop__features(itemprop="description")
              each feature in release[lang + 'ShopFeatures']
                li.album-shop__feature= feature
            div.album-shop__blocks
              each btnGroup in release.shopButtonGroups
                div.album-shop__block
                  - var leadSplit = btnGroup.fields[lang + 'Lead'].split(' ');
                  p
                    strong= leadSplit[0] + ' '
                    = leadSplit.slice(1).join(' ')
                  .album-shop__buttons.button
                    each btn in btnGroup.fields.buttons
                      a.album-shop__button.button__link(href=btn.fields[lang + 'Url'])
                        = btn.fields[lang + 'Text']

  section.merch
    h2= d.headings.merch
    ul.merch__list.flex-grid
      each product in contentful.products
        li.merch__item.flex-grid__item(itemscope, itemtype="http://schema.org/Product")
          a.merch__link(href="#{product.url}", itemprop="url")
            div.merch__photo(itemprop="image", style="background-image: url(#{asset(product.photo, { w: 370, h: 370, q: 80 })});")
            p.merch__title(itemprop="name")= product[lang + 'Title']
    .button.button--centered
      a.button__link(href=data.shared.shopUrl)= d.ctaShop
    